
#about-me {
    margin-bottom: -5px;
    transform: scale(1, 0.7);
    font-family: helvetica, sans-serif;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    -webkit-text-stroke: 1.5px black;

    color: rgb(242, 249, 243);
}


.about-title {
    margin-top: 300px;

    text-align: center;
color: white;
font-size: 85.5px;
font-family: helvetica, sans-serif;
transform: scale(1, 0.7);
text-align: center;
font-weight: 800;
-webkit-text-stroke: 1px black;
}


body {
    background-color: rgb(242, 249, 243);
}


.blob-fill {
    width: 250px;
}

canvas { 
    position: fixed !important;

}


.cherry-valentine {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}


#fix-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    /* z-index:-5 */
}

#fix-gif, #reverse-gif {

    width:150px;
    /* z-index:-5; */
}

.full-transcription {
        
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translate(-50%, -50%);
    margin-bottom: 50px;
     

}

.logo-nav {
    font-family: helvetica, sans-serif;
    
    font-size: 20px;
    font-family: helvetica, sans-serif;
    transform: scale(1, 0.7);
    text-align: center;
    font-weight: 800;

    margin-top: 20px; 

}

.links {
    color: black;
}

.links:hover {
    color: white;
    -webkit-text-stroke: 1px black;
    text-decoration: none;
}



.photo-a {
    position: fixed;
    text-align: center;
    margin-top: 200px;
    width: 100%;
    
}

.subtitles {

    width: 100%;
    text-align: center;
    color: rgb(255, 255, 0);
    -webkit-text-stroke: 0.5px black;
    font-family: source-code-pro, monospace;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;

    margin-top: 620px;
    position: fixed;
    
}


.trans-text {
    overflow: scroll;
    height: 350px;

    width: 500px;
 
    border: 1.5px solid black;
   
    padding: 10px;
}

#transcription {
 
    text-align: left;
    font-family: source-code-pro, monospace;
    font-size: 14px;

}


#transcribe {
  
    background-color: white;
    color: black;
    border: 2px solid  black;
    padding: 10px;
    font-family: europa, sans-serif;
    height: 120px;
    width: 120px;
    border-radius: 50%;

    transition-duration: 0.15s;
}

#transcribe:hover {
    transform: scale(0.9);
    color: white;
    background-color: rgba(255, 68, 0, 0.818);
}


.ugh-logo {
    height: 150px;
    text-align: center;
    
     position: fixed;

     position: absolute;
     left: 50%;
     top: 10%;
     transform: translate(-50%, -50%)
  
 }











