
body {
    /* background: color 248; */
    background-color: rgb(242, 249, 243);
}

canvas { 
    position: fixed !important;

}


#fix-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    /* z-index:-5 */
}
#fix-gif, #reverse-gif {

    width:150px;
    /* z-index:-5; */
}

.logo-nav {
    font-family: helvetica, sans-serif;
    
    font-size: 20px;
    font-family: helvetica, sans-serif;
    transform: scale(1, 0.7);
    text-align: center;
    font-weight: 800;

    margin-top: 20px; 

}

.links {
    color: black;
}

.links:hover {
    color: white;
    -webkit-text-stroke: 1px black;
    text-decoration: none;
}
.ugh-logo {
    height: 150px;
    text-align: center;
    
     position: fixed;

     position: absolute;
     left: 50%;
     top: 10%;
     transform: translate(-50%, -50%)
  
 }

 

.each-proj {
    text-align: center;
}

.proj-one{
    margin-top: 525px;
}

.proj-teaser, .wave-reveal {
    width: 270px;
    /* box-shadow: -2px 2px  black; */
}

.hover-thumbnail {
    /* border: 1px solid black;
    padding: 20px; */
    position: fixed;
    margin-left: 100px;
    margin-top: 300px;
    /* width: 200px; */
}





.proj-text{
    transform: scale(1, 0.7);
}


.hover-blurb {
    width: 250px;
    position: fixed;
    margin-left: 65%;
    margin-top: 300px;
    z-index: 5;
}

.p-title {
    transform: scale(1, 0.7);
    font-family: helvetica, sans-serif;
    font-weight: 800;
    font-size: 24px;

}

.rbc {
    position: fixed;
    margin-left: 62%;
    margin-top: 280px;

    
}

#rbc-gif {

    width: 300px;
}


.blurb-one {
    font-family: garamond-premier-pro-subhead, serif;
    font-size: 20px;
}

.blurb-date {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid black;
    padding: 5px;
}

.blurb-two {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    background-color: black;
    padding: 5px;
    color: white;
}

.blurb-three {
    font-family: garamond-premier-pro-subhead, serif;
    font-size: 14px;

}


.page-head {
       margin-top: 230px;
       transition: all 0.2s ease-in-out;

    text-align: center;    
    transform: scale(1, 0.7);
}


.uh-what {
    color: rgba(255, 255, 255, 0);
}





.fade-logo {
    opacity: 0.25;
    transition: all 0.1s ease-in-out;

}


.page-title { 
    text-decoration: underline;
    font-family: helvetica, sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: white;
-webkit-text-stroke: 1px  black
}

.projects-take2 {
    text-align: center;

}

.proj-block {
    padding: 20px;
    transition: ease;
    transition-duration: 0.5s;
}

#aa-cap, #pos-cap, #rub-cap, #untrnd-cap, #upick-cap {
    position: absolute;
}









 