canvas { 
    position: fixed !important;

}

.ugh-logo {
    text-align: center;
    margin-left: 120px;
     margin-top: 50px;
     position: fixed;
  
 }
 
 #fix-logo {
     margin-left: auto;
     margin-right: auto;
     margin-top: 18px;
     /* z-index:-5 */
 }
 
 #fix-gif, #reverse-gif {
 
     width:150px;
     /* z-index:-5; */
 }
 .logo-nav {
    font-family: helvetica, sans-serif;
    /* color: black; */
    font-size: 20px;
    font-family: helvetica, sans-serif;
    transform: scale(1, 0.7);
    text-align: center;
    font-weight: 800;
    /* transition: ease 1; */
}

.links {
    color: black;
}

.links:hover {
    color: white;
    -webkit-text-stroke: 1px black;
    text-decoration: none;
}
 

.each-proj {
    text-align: center;
}

.proj-one{
    margin-top: 525px;
}

.proj-teaser, .wave-reveal {
    width: 250px;
    /* box-shadow: -2px 2px  black; */
}

.hover-thumbnail {
    /* border: 1px solid black;
    padding: 20px; */
    position: fixed;
    margin-left: 200px;
    margin-top: 25%;
}

.project-nav {
    text-align: center;
    width: 350px;

}

.untrnd-logo-box, .upick-logo-box, .rubb-logo-box {
    padding: 20px;
    border: 1px solid black;
}



.see-proj-box-a,
.see-proj-box-b,
.see-proj-box-c {
padding-top:120px;
  padding-bottom: 120px;
  padding-left: 0px;
  padding-left: 0px;
  border: 1px solid black;
  transition: ease 0.4s;
}

.see-proj-box-a:hover,
.see-proj-box-b:hover,
.see-proj-box-c:hover {
    border-radius: 500px;
}

.proj-text{
    transform: scale(1, 0.7);
}

.see-proj {
    padding-top: 80px;
    transform: scale(1, 0.7);
    color: black;
    font-size: 24px;
    font-family: helvetica, sans-serif;

    text-align: center;
    font-weight: 800;

}




.see-proj:hover {
    color:white;
    -webkit-text-stroke: 1px black;

    text-decoration: none;
    transform: scale(1, 0.7);
}

.hover-blurb {
    width: 250px;
    position: fixed;
    margin-left: 65%;
    margin-top: 25%;
    z-index: 5;
}

.rbc {
    position: fixed;
    margin-left: 62%;
    margin-top: 300px;

    
}

#rbc-gif {
    opacity: 0.2;
    width: 300px;
}


.blurb-one {
    font-family: garamond-premier-pro-subhead, serif;
    font-size: 20px;
}

.blurb-date {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid black;
    padding: 5px;
}

.blurb-two {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    background-color: black;
    padding: 5px;
    color: white;
}

.blurb-three {
    font-family: garamond-premier-pro-subhead, serif;
    font-size: 14px;

}


.page-head {
       margin-top: 300px;
       transition: all 0.2s ease-in-out;

    text-align: center;    
    transform: scale(1, 0.7);
}

.page-title { 
    font-family: helvetica, sans-serif;
    font-size: 36px;
    font-weight: 800;
    transition: all 0.2s ease-in-out;

}

.uh-what {
    color: rgba(255, 255, 255, 0);
}



.titleboom {
    font-size: 200px !important;
    transition: all 0.2s ease-in-out;

}

.headboom {
    margin-top: 50px !important;
    transition: all 0.2s ease-in-out;

}

.fade-logo {
    opacity: 0.25;
    transition: all 0.1s ease-in-out;

}