* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: gray
}

header {
    padding: 25px;
    background-color:white;
    color: gray;
    margin: 5px;
}

nav {
    padding: 25px;
    background-color:white;
    color: gray;
    margin: 5px;
}


#section {
    float: left;
    width: 50%;
    background-color: white;
    color: gray;
    margin: 10px;
    height: 334px;
    padding: 25px;
}

#article {
    margin: 10px;
    padding: 25px;
    overflow: auto;
    background-color: gray;
    color: white;
}

#h123,
#p {
    font-weight: bold
}

p {
    background-color: white;
    color: gray;
    padding: 25px;
    margin: 10px;
}

aside {
    float: right;
    background-color: white;
    color: gray;
    width: 45%;
    margin: 10px;
    padding: 25px;
    height: 334px;
}

footer {
    padding: 25px;
    background-color:white;
    color: gray;
    display: inline-block;
    width: 1400px;
}

/* .:after {
    content: "";
    display: table;
    clear: both;
} 

lol didn't work again this is a disaster*/
