body {
    font-family: europa, sans-serif;
}

.container {

}

#logo {
    margin-left: 40%;
    padding: 15px;

    margin-bottom: 50px;
}

.head {
    text-align: center;
}

.clear-nav {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;

}
.navlink {
    color: white;
}



.navlink:hover {
    color: black;
    text-decoration: none;
}
#head-logo {
    width: 100px;
    margin-top: 50px;
}

.home-nav {
    text-align: center;
}

.home-nav-tab {
    color: black;
}

.home-nav-tab:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 2px;
    
}

#storyphoto {
    margin-left:55%;
}

#upick {
    margin-top: 100px;
}

#spark {
    margin-top: 10px;
    margin-bottom: 10px;
}

#child {
    margin-top: 15px;
    margin-bottom: 15px;
}

#laundry-room {
    margin-bottom: 20px;
}

.port-icon {
    text-align: center;
}



.nav {
    width: 300px;
}

#float-box {
    border: 1px solid black;
    position: fixed;
    margin-left: 55%;
    margin-top: 18%;
    z-index: 1;
    padding: 10px;
    width: 400px;
    height: 350px;
}


#float-box2 {
    border: 1px solid black;
    position: fixed;
    margin-left: 20%;
    margin-top: 25%;
    z-index: 2;
    padding: 10px;
    width: 400px;
    height: 350px;
    overflow-y: auto;
}

.eeTitle {
    color: white;
    text-decoration: underline;
    text-decoration-color: black;
}

.eeTitle:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}

.resume-info-list {
    margin-left: 25%;
}

.experienceEducation {
    margin-left: 5%;
}

#port-float-box {
    border: 1px solid black;
    position: fixed;
    margin-left: 60%;
    margin-top: 18%;
    z-index: 2;
    padding: 10px;
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.50);
}

#port-float-box-gif {
    position: fixed;
    margin-left: 10%;
    margin-top: 10%;
    z-index: 1;
    padding: 10px;
    width: 100px;
    height: 100px;
}

.thumbnail {
    border: none;
    background-color: white;
}

.port-icon {
    margin: 10px;
}

.thumb-title {
    font-weight: bold;
    font-size: 36px;
    margin-top: -10px;
   
}

.thumb-title2 {
    font-weight: inherit;
    font-size: 16px;
    margin-top: -10px;
}

.thumbnail {
    background-color: rgba(255, 255, 255, 0);
}

.blurb {
    width: 300px;
    height: 300px;
}

mark {
    background-color: yellow;
}

.subtitle {
    font-size: 20px;

}

.school {
    font-weight: bold;
    font-size: 20px;
    background-color: yellow;
}

.date {
    font-weight: 200;
    font-size: 34px;
text-align: right;
}