body {
    background-image: url("../images/II-RGB-BKGD.png");
    font-family: Arial, Helvetica, sans-serif
}

header {
    background-color:rgba(255, 255, 255, 0.794);
    overflow: auto;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.logo {
    float: left;
    padding: 20px;
    margin-left: 250px;
    background-color: black;
    font-size: 24px;
    font-weight: bold;   
    letter-spacing: 5px; 
    color: white
}

/* ADD HOVER */
.navigation {
    float: right;
    margin-right: 250px;
    color: black;
    padding: 20px;
}


.link {
    margin-left: 15px;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 6px;
    color: black;
    border: 1px black solid;
    text-align: center;
    font-size: 12px;
}


.link:hover {
    background-color: rgba(255, 255, 0, 0.358);
}

.link:active {
    background-color: yellow;
}




.content {
    margin-left: 250px;
    margin-right: 250px;
    background-color:rgba(255, 255, 255, 0.794);
    overflow: auto;
}

#pageTitle {
    color: black;
    font-size: 18px;
    padding: 10px;
    margin-top:9px;
    margin-left: 43%;
    font-weight: bold;
}

hr {
    border: 2px solid black;
}

#idphoto {
    margin: 15px;
    float: left;
}

.par {
   padding: 7px;
    margin: 15px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
}

/* #p2 {
    margin: 15px;
} */

/* PORTFOLIO */
  
  /* .gallery {
      margin-left: 350px;
      margin-right: 350px;
  } */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}



  .column1 {

    width: 50%;
    float: left;
  }

  .column2 {
      width: 50%;
      float: left;
  }
  
  /* .row:after {
    content: "";
    display: table;
    clear: both;
} */

  /* For some reason, HTML tags <caption> and 
  <figcaption> didn't work with CSS :( */

  
  .imgContainer {
      position: relative;
      width: 300px
    }
    
    .img1,
    .img2,
    .img3 {
        width: 300px;
        height: 280px;
        margin: 10px;
    }
   
    .caption1,
    .caption2,
    .caption3 {
        background-color: rgba(0, 0, 0, 0.486);
        color: white;
        /* border: 1px black solid; */
        position: absolute; 
        bottom: 12px;
        right: -10px;
        left: 10px;
        padding: 10px;
        text-align: center;
        font-style: italic;
        font-weight: lighter;
        font-size: 12px;
    }
  
    form {
        font-style: inherit
    }


    .userInfo {
        margin-left: 15px;
        font-style: italic;
        font-size: 14px;
        font-weight: 700;
    }

    mark {
        background-color:yellow
        color: black;
        padding: 2px;
        margin: 2px;
    }


    input[type=text],
    input[type=email] {
        width: 97.5%;
        padding: 10px;
        /* margin: 20px, 10px; */
        box-sizing: border-box;
        margin: 10px;
     
    }

    textarea {
        width: 97.5%;
        padding: 10px;
        /* margin: 20px, 10px; */
        box-sizing: border-box;
        margin: 10px;
        height: 250px;
        resize: none;
    }

    button {
        font-weight: bold;
       border: 1px black solid;
        padding: 10px;
        margin-left: 47%;
        margin-bottom: 10px;
    }

    button:hover {
        background-color: rgba(206, 27, 27, 0.426);
    }
    
    button:active {
        background-color: rgb(206, 27, 27);
    }


 


